
         <!--Inizio contenitore Portfolio con immagini e bottoni-->
        <div class="container">
            <!--Riga Portfolio-->
            <div class="row">
                <div class="col">
                    <h5 class="text-uppercase text-center py-3">Lista Pizze</h1>
                </div>
            </div>
            <!--Prima riga 3 immagini-->
            <div class="row">
                <!--1° card - Pizza Margherita -->
                <div class="col">
                    <div class="card shadow bg-body img-fluid h-100">
                        <img src="https://www.buttalapasta.it/wp-content/uploads/2017/11/pizza-margherita.jpg" class="card-img-top" alt="immagine cabina">
                        <div class="card-body fs-6 p-0">
                            <h4 class="text-center my-3">Margherita</h4>
                            <ul>
                                <li>Pomodoro</li>
                                <li>Mozzarella</li>
                                <li>Basilico</li>
                                <li>Olio Extravergine di oliva</li>
                            </ul>
                            
                        </div>
                        <div class="card-footer text-center"><a href="#" class="btn btn-primary align-content-lg-center">Prezzo: € 4,00</a></div>
                    </div>
                </div> 
                <!--2° card - Pizza Marinara -->
                <div class="col">
                    <div class="card shadow bg-body h-100 img-fluid">
                        <img src="https://primochef.it/wp-content/uploads/2018/05/SH_pizza_alla_marinara-1200x800.jpg" class="card-img-top" alt="Immagine torta">
                        <div class="card-body fs-6 p-0">
                            <h4 class="text-center my-3">Marinara</h4>
                            <ul>
                                <li>Pomodoro</li>
                                <li>Basilico</li>
                                <li>Olio Extravergine di oliva</li>
                                <li>aglio</li>
                            </ul>
                            
                        </div>
                        <div class="card-footer text-center"><a href="#" class="btn btn-primary align-content-lg-center">Prezzo: € 3,50</a></div>
                    </div>
                </div>
                <!--3° card - pizza 4 Formaggi -->
                <div class="col">
                    <div class="card shadow bg-body h-100 img-fluid">
                        <img src="https://www.panineriatrentaelode.it/wp-content/uploads/2021/01/Pizza-4-formaggi-pizzeria-30-e-lode-1.jpg" class="card-img-top" alt="immagine circo">
                        <div class="card-body fs-6 p-0">
                            <h4 class="text-center my-3">4 Formaggi</h4>
                            <ul>
                                <li>Pomodoro</li>
                                <li>Mozzarella</li>
                                <li>Basilico</li>
                                <li>Olio Extravergine di oliva</li>
                                <li>Gorgonzola</li>
                                <li>Taleggio</li>
                                <li>Stracchino</li>
                            </ul>
                    
                        </div>
                        <div class="card-footer text-center"><a href="#" class="btn btn-primary align-content-lg-center">Prezzo: € 6,50</a></div>
                    </div>
                </div>       
            </div>   
            <!--Seconda riga 3 immagini-->
            <div class="row my-5">
                <!--1° card - Pizza salame piccante-->
                <div class="col">
                    <div class="card shadow bg-body h-100 img-fluid">
                        <img src="https://cdn.agrodolce.it/rbBVUaq8bErMgLcVmw2X5uXeNew=/1200x800/smart/https://www.agrodolce.it/app/uploads/2019/04/shutterstock-1239982861.jpg" class="card-img-top" alt="immagine game Website">
                        <div class="card-body fs-6 p-0">
                            <h4 class="text-center my-3">Salame piccante</h4>
                            <ul>
                                <li>Pomodoro</li>
                                <li>Mozzarella</li>
                                <li>Basilico</li>
                                <li>Olio Extravergine di oliva</li>
                                <li>Salame Piccante</li>
                            </ul>
                            
                        </div>
                        <div class="card-footer text-center"><a href="#" class="btn btn-primary align-content-lg-center">Prezzo: € 5,50</a></div>
                    </div>
                </div> 
                <!--2° card - Pizza Ortolana-->
                <div class="col">
                    <div class="card shadow bg-body h-100 img-fluid">
                        <img src="https://blog.giallozafferano.it/piovonoricette/wp-content/uploads/2018/02/IMG_2164.jpg" class="card-img-top" alt="Immagine Safe Website">
                        <div class="card-body fs-6 p-0">
                            <h4 class="text-center my-3">Ortolana</h4>
                            <ul>
                                <li>Pomodoro</li>
                                <li>Mozzarella</li>
                                <li>Basilico</li>
                                <li>Olio Extravergine di oliva</li>
                                <li>Melanzana</li>
                                <li>Zucchina</li>
                                <li>Peperone</li>
                                <li>cipolla</li>
                            </ul>
                            
                        </div>
                        <div class="card-footer text-center"><a href="#" class="btn btn-primary align-content-lg-center">Prezzo: € 6,50</a></div>
                    </div>
                </div>
                <!--3° card - Pizza kebap-->
                <div class="col">
                    <div class="card shadow bg-body h-100 img-fluid">
                        <img src="https://i1.wp.com/istanbulmalnate.it/wp-content/uploads/2020/02/doner.jpg" class="card-img-top" alt="immagine Submarine Website">
                        <div class="card-body fs-6 p-0">
                            <h4 class="text-center my-3">Kebap</h4>
                            <ul>
                                <li>Pomodoro</li>
                                <li>Mozzarella</li>
                                <li>Basilico</li>
                                <li>Olio Extravergine di oliva</li>
                                <li>kebap</li>
                                <li>cipolla</li>
                                <li>pomodori</li>
                                <li>lattuga</li>
                                <li>salsa piccante</li>
                                <li>salsa Yogurt</li>
                            </ul>
                            
                        </div>
                        <div class="card-footer text-center"><a href="#" class="btn btn-primary align-content-lg-center">Prezzo: € 7,50 </a></div>
                    </div>
                </div>       
            </div> 

        <!--Terza riga con 3 immagini-->
            <div class="row pb-3">
                <!--1° card - Pizza Scamorza Crudo e rosmarino -->
                <div class="col">
                    <div class="card shadow bg-body img-fluid h-100 img-fluid">
                        <img src="https://www.ristoranteserenella.it/wp-content/uploads/2019/03/dinamite-pizza.jpg" class="card-img-top" alt="immagine cabina">
                        <div class="card-body fs-6 p-0">
                            <h4 class="text-center my-3">Dinamite</h4>
                            <ul>
                                <li>Pomodoro</li>
                                <li>Mozzarella</li>
                                <li>Basilico</li>
                                <li>Olio Extravergine di oliva</li>
                                <li>scamorza</li>
                                <li>Crudo</li>
                                <li>salame piccante</li>
                                <li>olive</li>
                            </ul>
                            
                        </div>
                        <div class="card-footer text-center"><a href="#" class="btn btn-primary align-content-lg-center">Prezzo: € 6,50</a></div>
                    </div>
                </div> 
                <!--2° card - Pizza Bufaola -->
                <div class="col">
                    <div class="card shadow bg-body h-100 img-fluid">
                        <img src="https://static.gamberorosso.it/2020/10/fratelli-cuore.jpg" class="card-img-top" alt="Immagine torta">
                        <div class="card-body fs-6 p-0">
                            <h4 class="text-center my-3">Bufalona</h4>
                            <ul>
                                <li>Pomodoro</li>
                                <li>Moz. Bufala</li>
                                <li>Basilico</li>
                                <li>Olio Extravergine di oliva</li>
                            </ul>
                            
                        </div>
                        <div class="card-footer text-center"><a href="#" class="btn btn-primary align-content-lg-center">Prezzo: € 7,00</a></div>
                    </div>
                </div>
                <!--3° card - pizza Diavolo Blu -->
                <div class="col">
                    <div class="card shadow bg-body h-100 img-fluid">
                        <img src="https://static.gamberorosso.it/2020/06/marasco-96ore-ricotta-nduja-bassa.jpg" class="card-img-top" alt="immagine circo">
                        <div class="card-body fs-6 p-0">
                            <h4 class="text-center my-3">Diavolo Blu</h4>
                            <ul>
                                <li>Pomodoro</li>
                                <li>Mozzarella</li>
                                <li>Basilico</li>
                                <li>Olio Extravergine di oliva</li>
                                <li>Gorgonzola</li>
                                <li>Nduja calabra</li>
                            </ul>
                            
                        </div>
                        <div class="card-footer text-center"><a href="#" class="btn btn-primary align-content-lg-center">Prezzo: € 7,50</a></div>
                    </div>
                </div>       
            </div>   
        </div>
        <!--Fine contenitore Portfolio con immagini e bottoni-->
