html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('https://browsecat.net/sites/default/files/cute-pizza-wallpapers-wallpapers-95795-652778-5049214.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}